body{
    
    
   
    

}
.sectionustedhaingresado {
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(29, 157, 195);
    padding-right: 80%;
    width: 80%;
    text-align: right;   
    
}
