header {
    background-color:rgb(109, 184, 75);
    font-weight:bolder;
    

    
}
 
.logo {
    width:50px;
}

.header {
    display:flex;
    margin:0px;
    padding:5px;
}

.tittle{
    color:black;
    font-size: 30px;
    text-decoration: none;
    position:absolute;
    top:0.5cm;
    left:8cm;
}

body{
    padding:0px;
    margin:0px;
    font-family:"JetBrains Mono";
}

.navbar {
    list-style:none;
    display:flex;
    justify-content:space-around;
    padding:0px;
    margin:0.5px;
    
}
.boton_principal {
    border:0px;
    font-size:large;
    font-family: "JetBrains Mono";
    background-color:rgb(29,157,195);
    color:white;
    border-radius: 6px;
}

.boton_principal:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow:2px 2px rgb(74,190,20);
}




.navbar>li>a {
    text-decoration: none;
    color:white;
    background-color:black;
}



ul {
    list-style:none;
}

.ordenar_info_usuario {
    display:flex;
    text-align: right;
    font-size:9.5px;
    font-weight:bolder;
    color:rgb(29,157,195);
 
    padding-right:0px;
  
}

