th{
    color: white;
    padding: 15px 30px;
    background-color: rgb(29, 157, 195);
    font-size: larger;
}

table{
    width: 80%;
    border-collapse: collapse;
    border-color: rgb(29, 157, 195);
    text-align:center;

}
td{
    padding: 15px 10px;
    
    
}
tr:hover{
    background-color: rgba(89, 192, 89, 0.431);
    
}
