.contenedor{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: medium;
    margin: 10px;
    padding: 8px;

}
th{
    color: white;
    text-align: center;
    padding: 15px 30px;
    background-color: rgb(29, 157, 195);
    font-size: larger;
}
table{
    width: 90%;
    border-collapse: collapse;
    border-color: rgb(29, 157, 195);
    
}
td{
    padding: 20px;
}
tr:hover{
    background-color: rgba(89, 192, 89, 0.431);
    
}
select{
    font-size: medium;
    padding: 5px;
    border-radius: 9px;
    outline: none;
}
label{
    padding: 0px 40px 0px 0px;
}
.estil{
    width: 340px;
}
