html {
    min-height: 100%;
    position: relative;
}
.busqueda_pagina:link {
    color:black;
    text-decoration:none;
}
   
a:visited {
    color:black;
    text-decoration:none;
}

header {
    background-color:rgb(74, 190, 20);
    font-weight:bolder;
    position:absolute;
    top:0; 
    padding-top: 10px;
    width: 100%;
    height: 70px;
}
.header {
    display:flex;
    margin:0px;
    padding:5px;
}
ul {
    list-style:none;
}
 
.logo {
    width:65px;
    margin-left: 5px;
    
}

.tittle{
    color:black;
    font-size: 30px;
    text-decoration: none;
    position:absolute;
    top:0.5cm;
    left:8cm;
}
main {
    margin-bottom: 40px;
    margin-top:80px;
}
body{
    padding:0px;
    margin:0px;
    font-family:'JetBrains Mono','Courier New', Courier, monospace;
    font-weight:bolder;
   
}

h2 {
    text-align: center;
}


.navbar {
    list-style:none;
    display:flex;
    justify-content:space-around;
    padding:0px;
    margin:0.5px;
    top:5px;

    
}

.boton {
    border:0px;
    font-family: "JetBrains Mono",'Times New Roman', Times, serif;
    position:absolute;
    
}

.boton:hover {
    cursor:pointer;
    
}
.boton_principal {
    border:1px solid;
    font-size:large;
    font-family: "JetBrains Mono",'Times New Roman', Times, serif;
    background-color:rgb(29,157,195);
    color:white;
    border-radius: 4px;
    
}

.boton_principal:hover{
transform: scale(1.05);
    box-shadow:2px 2px rgb(74,190,20);
}






.ordenar_info_usuario {
    display:flex;
    text-align: right;
    font-size:9.5px;
    font-weight:bolder;
    color:rgb(29,157,195);
 
    
    
  
}

.Cuadro_ingreso {
    background-color: rgb(223, 223, 223);
    border:1px solid black;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 100px;
    border-radius: 20px;
    width:fit-content;
    
    
}

.ingreso_info {
    text-align: center;   
}


.ingreso_producto {
    display:flex;
    justify-content:space-around;
    text-align: right;
    
}



.info_venta {
    text-align: end;
}

table {
    width:auto;
    margin-left: auto;
    margin-right:auto;
    border-collapse:collapse; 
  
}

.seccion_tabla {
    margin-top: 0.2cm;
    border-top: 0px solid black;
    text-align: center;   
    font-size:medium;
}

th,td {
    font-size: small;
    background: white;
    width: 35vw;
    text-align: center;
    vertical-align: center;
    border:1px solid black;
   
}

th{
    border: 1px solid black;
    color: white;
    padding: 5px 30px;
    background-color: rgb(29, 157, 195);
    font-size: larger;
}

tr:hover{
    background-color: rgba(89, 192, 89, 0.431);
   
}

table td:nth-child(7) {
    width: 1mm;
   }


.cambio_pag {
    display:flex;
    justify-content: center;

}

.center {
    align-items:center;
}



.bt_registro_producto{
    font-size:small;
    font-family: "JetBrains Mono",'Times New Roman', Times, serif;
    background-color:rgb(29,157,195);
    color:white;
    border-radius: 4px;
    position: relative;
    left:auto;
    right:auto;
 
}

input {
    text-align: center;
    border:1px solid;
    border-radius: 5px;
    
}

.option {
    text-align: center;
    font-size: small;
    font-weight: bolder;
    margin:10px;
    border:0px;

}


    
select {
    background:transparent;
    border-radius: 5px;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 150px;
    align-items: right;
    margin-left: 1cm;
    margin-right:auto;
}

.cuadro_listado {
    /*ESTO SE MODIFICA */
    border:1px solid black;
    height: 50vh;
    text-align: center;
    justify-content: center;
    text-decoration-line: overline  ;
text-decoration-line: line-through;
}


a {
    color:white;
    text-decoration: none;
    font-weight: bold;
}

h3{
    margin-top: 2px;
    margin-bottom: 2px;
    color: white;
}

.Redes {
    text-align: center;
}

.row{
    display:flex;
    justify-content:space-between;
    padding-bottom:0;
}

.siguenos {
    padding-right:5vw;
    padding-left:5vw;
    size:48px;
    display:flex;
    margin-bottom: 0;
    
}
i {
    font-size:xx-large;
    padding: 10px;
    color: white;
}
.info{
    margin-bottom: 0;
}
footer {

    background-color: rgb(29,157,195);
    position: relative;
    z-index: 1;
    bottom:auto;
    width:100%;
    height:15vh;
}