section{
    width: 48%;
    display: inline-flex;
    margin: 10px 100px;

}
.section1{
    background-color: bisque;
    width: 465px;
    
}
::placeholder{
    color: rgb(224, 208, 201);
}
.section2{
    background-color: darkblue;
    width: 465px;
    
    
}
.section2ParteDos{
    color: white;
    padding: 5px 5px;
    text-align: center;
}
.section2ParteDos > h2{
    font-size: 28px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
    border-bottom: 7px solid rgb(224, 208, 201);
    margin-bottom: 50px;
    padding: 13px 0px;

}
.estilo{
    color:rgb(224, 208, 201);
    width: 100px;
    height: 60px;
    font-size: 60px;
    
}
.input{
    width: 100%;
    overflow: hidden;
    font-size: 25px;
    padding: 8px 8px;
    border-bottom: 4px solid rgb(224, 208, 201);
    color: rgb(224, 208, 201);
    

}
.input input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 16px;
    float: left;
    padding: 5px 5px;
    margin:  15px 0px 0px 0px;

}

.boton{
    margin: 30px;
    border-radius: 15px;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: rgb(224, 208, 201);
    color: rgb(64, 59, 73);
    width: 160px;
    height: 40px;


}
.pad{
    margin: 10px;
    float: left;
}
.boton:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 3px 3px white;
}