.titulo_registro{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(70, 61, 61);  
}
.contenedor_registro > h1{
    color: rgb(29, 157, 195);
    border-bottom: 5px solid rgb(29, 157, 195);
    text-align: center;
}
button{
    width: 100%;
    margin: 15px 0px 0px 0px;
    border-radius: 15px;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: rgb(89, 192, 89);
    color: white;
    padding:8px 16px;
    font-weight: 700;	
    height: 40px;
} 
button:hover{
    cursor: pointer;
    box-shadow: 1px 1px white;
} 
form{
	width:37%;
	padding:16px;
	border-radius:15px;
	margin:auto;
	background-color:rgba(128, 128, 128, 0.596);
}
.contenedor_registro{
    background-color: rgba(206, 211, 211, 0.37);
    border-radius: 15px;
}
form label{
	width:140px;
    height: 40px;
    font-size: 17px;
	display:inline-block;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
form > input{
	width:320px;
	padding:3px 10px;
	border:1px solid white;
	border-radius:8px;
	background-color:#f6f6f6;
	margin:9px 0;
	display:inline-block;
    outline: none;
    align-items: center;
    height: 30px;
    font-size: 18px;
}