html {
    min-height: 100%;
    position: relative;
}
a:link {
    color:black;
    text-decoration:none;
}
   
a:visited {
    color:black;
    text-decoration:none;
}

header {
    background-color:rgb(74, 190, 20);
    font-weight:bolder;
    position:absolute;
    top:0; 
    padding-top: 10px;
    width: 100%;
    height: 70px;
}
.header {
    display:flex;
    margin:0px;
    padding:5px;
}
ul {
    list-style:none;
}
 
.logo {
    width:50px;
}

.tittle{
    color:black;
    font-size: 30px;
    text-decoration: none;
    position:absolute;
    top:0.5cm;
    left:8cm;
}
main {
    margin-bottom: 40px;
    margin-top:80px;
}
body{
    padding:0px;
    margin:0px;
    font-family:"JetBrains Mono";
   
}


.navbar {
    list-style:none;
    display:flex;
    justify-content:space-around;
    padding:0px;
    margin:0.5px;
    top:5px;

    
}

.boton {
    border:0px;
    font-family: "JetBrains Mono";
    position:absolute;
    
}

.boton:hover {
    cursor:pointer;
    
}
.boton_principal {
    border:0px;
    font-size:large;
    font-family: "JetBrains Mono";
    background-color:rgb(29,157,195);
    color:white;
    border-radius: 4px;
    
}

.boton_principal:hover{
transform: scale(1.05);
    box-shadow:2px 2px rgb(74,190,20);
}


.navbar li a {
    text-decoration: none;
    color:white;
    background-color:black;
}



.ordenar_info_usuario {
 
    text-align: right;
    font-size:9.5px;
    font-weight:bolder;
    color:rgb(29,157,195);
 
    
    
  
}

.Cuadro_ingreso {
    background-color: rgb(223, 223, 223);
    border:1px solid black;
    width: 50vw;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 100px;
    border-radius: 20px;
    
    
}

.ingreso_info {
    align-items: center;   
}

.fecha {
   display:flex;
   justify-content:left;
   padding-left:0px;
   padding-top: 40px;
}

.label {
    padding-left: 20px;
    font-size:15px;
    font-weight:bolder;
    
   
}

h2 {
    text-align: center;
} 
footer {
    background-color: rgb(29,157,195);
    position: absolute;
    bottom:0;
    width:100%;
    height:40px;
}



.label {
    padding:10px;
}

.info_venta {
    text-align: end;
}


.seccion_tabla {
    margin-top: 0.2cm;
    border-top: 0px solid black;
    text-align: center;   
    font-size:medium;
}
table {
    width:100%;
    border-collapse:collapse;   
}

caption {
    font-weight:bolder;
}
th,td {
    font-size: small;
  width: 25%;
   text-align: center;
   vertical-align: center;
   border:1px solid black;
 
}

input {
    text-align: center;
}

table>td {
    border-radius:5px;
}

td>input {
    width:95%;
    align-items:  center;
}


.bt_adicion_producto {
    font-size:small;
    font-family: "JetBrains Mono";
    background-color:rgb(29,157,195);
    color:white;
    border-radius: 4px;
    position:relative;
    left: auto;
    right: auto;
    

}
.bt_registro_venta{
    font-size:15px;
    font-family: "JetBrains Mono";
    background-color:rgb(29,157,195);
    color:white;
    border-radius: 4px;
    position: absolute;
    width:145px;
    left: 44%;

    
    
}
.info_cliente {
    margin: 15px;
 
}
.info_vendedor {
    text-align: center;
    font-size: small;
    font-weight: bolder;
    margin:10px;
    border:0px;

}

select {
    background:transparent;
    border-radius: 5px;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 200px;
    align-items: center;
    margin-left: auto;
    margin-right:auto;
}
    