.contenedor_listarventas {
    clear:both;
    padding-top: 0.5em;
}
.busqueda {
    display:flex;
    justify-content: center;
    margin:10px;
    padding-top:4vh;
    align-items: center;
}
.titulo_pagina_listarventas {
    text-align: center;
} 

.select_listarventas {
    border-radius: 9px;
}

.bt_busqueda {
    width:auto;
    font-size:small;
    background-color:rgb(29,157,195);
    color:white;
    border-radius: 4px;
    position:relative;
    left: auto;
    right: auto;
    

}

.bt_busqueda:hover {
        cursor: pointer;
        transform: scale(1.02);
        box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
    
}
.cuadro_info {
    background-color: rgb(223, 223, 223);
    border:0px solid black;
    width: fit-content;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 2em;
    height: max-content;
    border-radius: 20px;   
    padding-bottom: 5vh;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

.input_listarventas {
    padding-top: 1vh;
    padding-bottom: 0.5vh;
    margin:1vw;
    border:0px solid;
    border-radius: 5px;
    box-shadow: 1.5px 2px 3px 2px rgba(0, 0, 0, 0.2);

}

.label_listarventas{
margin-left:5px;

}


.table_listarventas {
    margin-left: 2vw;
    margin-right:2vw;
    border-collapse:collapse;  
 
}

.table_listarventas .td_listar,.th_listar {
    width: 10vw;
    text-align: center;
    border:1px solid rgba(0, 0, 0, 0.3);
}

.td_listar {
    background-color:white;
}

.th_listar{
    font-size:15px;
    color: white;
    background-color: rgb(29, 157, 195);
}

.cambio_pag {
    display:flex;
    justify-content: center;

}
.cambio_pag>li {
    padding-left: 5px;
}



tr:hover{
    background-color: rgba(89, 192, 89, 0.431);
    
}

.table_listarventas .td_listar:nth-child(7) {
    width: 1mm;
   }


   








    


