.contenedor_RegVentas {
    clear:both;
}

.Titulo_RegVentas {
    text-align:center;
}
.Cuadro_ingreso {
    background-color: rgb(223, 223, 223);
    border:0px solid black;
    width: fit-content;
    margin-left:auto;
    margin-right: auto;
    height: max-content;
    border-radius: 20px;   
    padding-bottom: 5vh;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
    
}

.ingreso_info {
    align-items: center;   
    
}

.info_venta {
    text-align: end;
    display:block;
}

.form {
    padding-left: 20px;
    font-size:15px;
    font-weight:bold;
    display: block;
    
}

.input_info {
    padding-top: 1vh;
    padding-bottom: 0.5vh;
    margin:1vw;
    border:0px solid;
    border-radius: 5px;
    box-shadow: 1.5px 2px 3px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    width:10.5em;
    height: 1em;
}

.seccion_tabla {
    margin-top: 0.2cm;
    border-top: 0px solid black;
    text-align: center;   
    font-size:medium;
}
.tabla_cliente {
    width:100%;
    border-collapse:collapse;   
}

.tabla_registro {
    width:100%;
    border-collapse:collapse;   
}


.bt_adicion_producto {
    font-size:small;
    background-color:rgb(29,157,195);
    color:white;
    border-radius: 4px;
    position:relative;
    left: auto;
    right: auto;
    margin:1em;
    
}

.bt_adicion_producto:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
    
}

.bt_registro_venta{
    font-size: medium;
    background-color: rgb(89, 192, 89);   
    color: white;
    border-radius: 15px;
    width: 10em;
    height: 2.5em;
    font-weight:bold;
    position:relative;
    left: auto;
    right: auto;
}

.bt_registro_venta:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.2);
}

.bt_centrado {
    text-align:center;
}    
.info_cliente {
    margin: 15px;
 
}
.info_vendedor {
    text-align: center;
    font-size: small;
    font-weight: bolder;
    margin:10px;
    border:0px;

}

.selector_vendedor {  
    border:0px solid;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 150px;
    align-items: right;
    margin-left: 1cm;
    margin-right:auto;
}

.th_regventa,.td_regventa {
    font-size: small; 
    text-align: center;
    vertical-align: center;
}




.td_regventa>.input_info {
    align-items:  center;
}
    
    

.Titulo_tabla {
    font-weight:bolder;
    padding-bottom: 1em;
}
