

.titulo_registro{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(58, 51, 51);  
    padding-top: 2em;
    margin-top:0;
    text-shadow: 2.5px 2.5px 1px white, 0 0 1em rgb(105, 182, 98), 0 0 0.2em rgb(255, 255, 255);

    
}
.contenedor_registro > h1{
    color: rgb(29, 157, 195);
    text-align: center;
}

.contenedor_registro hr {
    border-width: 4px;
    border-color:rgb(29, 157, 195);

}
.botonRegistro{
    margin: 15px 0px 0px 0px;
    border-radius: 15px;
    border: none;
    background-color: rgb(89, 192, 89);
    color: white;
    padding:8px 16px;
    font-weight: 700;	
    width: 13em;
} 
.Titulo_registrate{
    text-shadow: 2px 2px 1px white, 0 0 1em rgb(252, 252, 252), 0 0 0.2em rgb(255, 255, 255);
}

.botonRegistro:hover{
    cursor: pointer;
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.2);
} 
.formRegistro{
	width:37%;
	padding:16px;
	border-radius:15px;
	margin-left:auto;
    margin-right:auto;
    background-color: rgb(223, 223, 223);
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 2em;
}
.contenedor_registro{
    background-color: rgba(206, 211, 211, 0.37);
    border-radius: 15px;
    align-content: center;
    padding-bottom: 3em;
}

.centrar_boton {
    text-align: center;
}


.formRegistro label{
	width:140px;
    height: 40px;
    font-size: 17px;
	display:flex;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;

}
.input_registro_user{
	width:65%;
	padding:3px 10px;
	border:1px solid white;
	border-radius:8px;
	background-color:#f6f6f6;
	margin:9px 0;
	display:inline-block;
    outline: none;
    align-items: center;
    height: 30px;
    font-size: 18px;
    box-shadow: 1.5px 2px 3px 2px rgba(0, 0, 0, 0.2);
}

.formRegistro>ul>li {
    display: flex;
}

.formRegistro>ul>li>label {
   align-items:flex-end;
}

.Lista_botones {
list-style:none;
}