body {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
   margin: 0;
}

.navbar {
    display:flex;
    justify-content:space-between;
    padding:0px;
   
    
}

.logo {
    height: 70px;
    
}
.logo:hover {
    transform:scale(1.3);
}

.button {
    
    background-color: aqua;
    font-weight: bolder;
    font-family:"JetBrains Mono";
    
    border:0;
    padding: 10px 5px;
    border-radius: 10px;
    box-shadow: 5px 5px greenyellow;
   
}
.button:hover {
    cursor: pointer;
    box-shadow: 10px 10px greenyellow;
    transform: scale(1.1);
}